<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of customers</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/v5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav class="navbar bg-primary">
                <div class="container-fluid">
                    <h2>List of customers</h2>
                    <div class="d-flex">
                        <a href="/customers/create">
                            <button class="btn btn-light">
                                <i class="fas fa-plus"></i>
                                Create
                            </button>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Balance</th>
                        <th>Address</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="item : ${customers}">
                        <tr>
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.fullName}"></td>
                            <td th:text="${item.email}"></td>
                            <td th:text="${item.phone}"></td>
                            <td th:text="${item.balance}"></td>
                            <td th:text="${item.address}"></td>
                            <td>
                                <a th:href="@{/customers/update/__${item.id}__}">
                                    <button class="btn btn-outline-secondary">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/customers/deposit/__${item.id}__}">
                                    <button class="btn btn-outline-success">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{/customers/transfer/__${item.id}__}">
                                    <button class="btn btn-outline-primary">
                                        <i class="fas fa-exchange-alt"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>

        <div class="footer">

        </div>
    </div>
</body>
</html>