<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update customer</title>
    <link rel="stylesheet" href="/assets/bootstrap/v5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand">Update customer</a>
                    <div class="d-flex">
                        <a href="/customers">
                            <button class="btn btn-light">List of customers</button>
                        </a>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content">
            <th:block th:if="${error != true}">
                <form method="post" th:object="${customer}">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label class="form-label">Full name</label>
                            <input type="text" class="form-control" th:field="*{fullName}" />
                        </div>
                        <div class="col-lg-6">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" th:field="*{email}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="mb-3 col-lg-6">
                            <label class="form-label">Phone</label>
                            <input type="tel" class="form-control" th:field="*{phone}" />
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" th:field="*{address}" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="mb-3 col-lg-3">
                            <button type="submit" class="btn btn-outline-secondary">Update</button>
                        </div>
                    </div>
                </form>
            </th:block>
        </div>
    </div>

    <footer class="container-fluid">
        <th:block th:if="${error == true}">
            <ul class="container">
                <li>Customer not found !</li>
            </ul>
        </th:block>
    </footer>
</body>
</html>