thead {
    background-color: #0fab13;
    color: #fff;
}

.header {
    color: #fff;
}

footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: #fff;
    position: fixed;
    bottom: 0;
}

footer .success {
    padding-top: 10px;
    bottom: 0;
    background-color: #1a9c04;
    position: absolute;
    width: 100vw;
}

footer .error {
    padding-top: 10px;
    bottom: 0;
    background-color: #ae1111;
    position: absolute;
    width: 100vw;
}

footer ul.container, footer .error h5 {
    padding-left: 28px;
}

footer ul.container li {
    font-weight: 600;
    line-height: 40px;
}